*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
  color: white;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 80px;
  background: #1f2154;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3;
}

img {
  width: 100%;
  height: 100%;
}

header img {
  height: 27px;
  width: auto;
  float: left;
}

.links {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: left;
}

.links a {
  text-decoration: none;
  padding: 13px;
  font-size: 16px;
  font-weight: bold;
}

.links a:hover {
  cursor: pointer;
  color: #1fad96;
}

.links a i {
  color: white;
  padding-left: 5px;
}

.linksIcons i {
  padding-right: 20px;
  font-size: 18px;
  color: white;
}

.linksIcons i:hover {
  color: #1fad96;
  transform: scale(1.2);
}

.searchbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchbox input {
  height: 47px;
  width: 150px;
  font-size: 18px;
  color: #1f2154;
  background-color: white;
  border: none;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchbox i {
  height: 47px;
  background-color: white;
  color: #1fad96;
  font-size: 15px;
  padding: 15px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
}

.jumbotron {
  background: #1f2154;
  height: 700px;
  text-align: center;
}

.jumbotron h1 {
  height: 40px;
  font-size: 47px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 20px;
}

.jumbotron h2 {
  height: 20px;
  color: #bcbcbc;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.jumbotron button {
  height: 70px;
  height: 47px;
  width: 200px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #1fad96;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 75px;
  text-align: center;
  display: inline-block;
}

.jumbotron button:hover {
  color: #1fad96;
  background: white;
}

.jumbotron button:focus{
  color: white;
  background: #28004d;
}

.images {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1
}

.imgL {
  float: left;
  position: relative;
  width: 300px;
  height: 480px;
  display: flex;
  align-items: flex-start;
}

.imgC {
  width: 700px;
  height: 450px;
  border: solid white 18px;
  border-radius: 10px;
  position: relative;
  float: left;
  box-shadow: 5px 5px 1px 0.5px #9d999b;
}

.imgCc{
  position: absolute;
}

.imgR {
  width: 250px;
  height: 350px;
  margin-top: 300px;
}

.services {
  background: white;
  height: 1700px;
  height: 1850px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
}

.founder {
  padding-top: 300px;
  width: 750px;
  text-align: center;
}

.founder h1 {
  color: #404040;
  font-size: 35px;
}

.founder h2 {
  color: #404040;
  font-size: 17px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.founder p {
  color: grey;
  font-size: 16px;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.number {
  text-align: center;
}

.number h1 {
  font-size: 45px;
  font-weight: bold;
  color: #1fad96;
}

.number p {
  font-size: 17px;
  color: #404040;
  padding: 10px;
}

.info {
  height: 700px;
  padding-left: 100px;
  padding-right: 100px;
}

.infoL {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.infoCard {
  width: 40%;
  height: 50%;
  border-radius: 2%;
  box-shadow: 1px 1px 1px 1px #9d999b;
  margin-right: 55px;
  margin-bottom: 40px;
}

.infoCard:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.infoCard:nth-child(2) {
  margin-top: 40px;
}

.infoCard:nth-child(3) {
  margin-top: -40px;
}

.infoMain {
  width: 100%;
  height: 40%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.infoMain h1 {
  font-size: 16px;
  font-weight: bold;
  color: #1f2154;
}

.infoMain p {
  font-size: 13px;
  font-weight: lighter;
  color: #1f2154;
  padding-top: 7px;
}

.infoPic {
  width: 100%;
  height: 60%
}

.infoR {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 80px;
}

.infoR h3 {
  font-size: 14px;
  color: #404040;
}

.infoR h1 {
  font-size: 45px;
  color: #404040;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
}

.infoR h1 span {
  font-size: 45px;
  color: #1fad96;
  font-weight: lighter;
}

.infoR i {
  color: #1fad96;
  padding-right: 15px;
}

.infoR p {
  font-size: 15px;
  color: #1f2154;
  padding: 7px;
}

.infoR button {
  height: 70px;
  height: 47px;
  width: 200px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #1fad96;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}

.infoR button:hover {
  color: #1fad96;
  background: white;
}

.infoR button:focus{
  color: white;
  background: #28004d;
}

.courses {
  background: #f3f6f3;
  height: 800px;
  width: 100%;
}

.coursesTitle {
  text-align: center;
}

.coursesTitle p {
  color: #9b999b;
  padding-top: 80px;
}

.coursesTitle h1 {
  font-size: 45px;
  color: #404040;
  padding: 5px;
}

.coursesTitle span {
  font-size: 45px;
  color: #1fad96;
  font-weight: lighter;
}

.coursesPrice{
  padding-top: 30px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 150px;
  width: 470px;
  padding: 20px;
}

.card:hover {
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.cardPic{
  height: 100%;
  width: 130px;
  float: left;
}

.cardPic img {
  border-radius: 50%;
}

.cardMain {
  height: 100%;
  padding-left: 150px;
}

.cardMain h1{
  font-size: 20px;
  color: #1fad96;
}

.cardMain h1 span{
  font-size: 16px;
  color: #1fad96;
}

.cardMain p {
  font-size: 16px;
  font-weight: bold;
  color: #1f2154;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cardMain h2, i {
  font-size: 12px;
  font-weight: lighter;
  color: #1f2154;
}

.cardMain i:first-child {
  padding-right: 5px;
}

.cardMain i:last-child {
  padding-right: 5px;
  padding-left: 20px;
}

.coursesLow {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses button {
  height: 70px;
  height: 47px;
  width: 300px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #1fad96;
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}

.courses button:hover {
  color: #1fad96;
  background: white;
}

.courses button:focus{
  color: white;
  background: #28004d;
}

.maxCoach {
  background: white;
  height: 700px;
  width: 100%;
}

.maxCoach h1 {
  color: #404040;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.maxCoach h1 span {
  color: #1fad96;
  font-size: 45px;
  font-weight: lighter;
}

.maxMain {
  height: 260px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.maxImg {
  height: 100%;
  width: 35%;
  padding-right: 70px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.maxImg img {
  border-radius: 50%;
}

.maxImg1 {
  position: absolute;
  height: 200px;
  width: 200px;
  z-index: 2;
}

.maxImg2 {
  padding: 50px;
  padding-right: 0px;
  margin-top: 150px;
  position: relative;
  height: 230px;
  width: 200px;
  z-index: 1
}

.maxInfo {
  height: 100%;
  width: 65%;
  padding-top: 35px;
  padding-right: 100px;
  padding-left: 16px;
  float: left;
}

.maxInfo p {
  color: #404040;
  font-size: 28px;
  font-weight: lighter;
}

.maxInfo h2 {
  color: #404040;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.maxInfo h3 {
  color: #9b999b;
  font-size: 13px;
  font-weight: lighter;
}

.maxLogo {
  height: 250px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logos {
  height: 80px;
  width: 170px;
  padding: 20px;
}

.logos:first-child {
  height: 170px;
  padding: 50px;
}

.logos:nth-child(3) {
  height: 170px;
  padding: 50px;
}

.blog {
  background: #f3f6f3;
  height: 500px;
  width: 100%;
}

.blog {
  background: #f3f6f3;
  height: 700px;
  width: 100%;
}

.blog {
  background: #f3f6f3;
  height: 690px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.blogTitle {
  height: 170px;
  width: 100%;
  text-align: center;
}

.blogTitle p {
  color: #9b999b;
  padding-top: 80px;
}

.blogTitle h1 {
  font-size: 45px;
  color: #404040;
  padding: 5px;
}

.blogTitle span {
  font-size: 45px;
  color: #1fad96;
  font-weight: lighter;
}

.artist {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.artistCard {
  height: 400px;
  width: 370px;
}

.artistCard:hover {
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.artistPic {
  height: 60%;
  width: 100%;
}

.artistPic img {
  border-radius: 5%;
}

.artistMain p {
  color: #616865;
  font-weight: lighter;
  padding-top: 12px;
}

.artistMain h1 {
  font-size: 23px;
  color: #404040;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
}

.artistMain p:last-child, i {
  font-size: 14px;
  font-weight: lighter;
  color: #9b999b;
}

.artistMain i {
  padding-right: 10px;
}

.artistMain i:last-child {
  padding-left: 40px;
}

.help {
  background: linear-gradient(to bottom, #ffffff 23%, #000000 370%);
  height: 1100px;
  width: 100%;
}

.helpTitle{
  text-align: center;
  padding-top: 90px;
}

.helpTitle h3 {
  color: #616865;
  font-size: 16px;
  font-weight: lighter;
}

.helpTitle h1 {
  color: #404040;
  font-size: 45px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 100px;
}

.helpTitle h1 span {
  color: #1fad96;
  font-size: 45px;
  font-weight: bold;
}

.helpMain {
  height: 220px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.helpCard {
  height: 220px;
  width: 260px;
}

.helpIcon {
  height: 40%;
  width: 100%;
}

.helpIcon i {
  font-size: 70px;
  color: #28004d;
}

.helpCard h1 {
  color: #28004d;
  font-size: 20px;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
}

.helpCard p {
  color: #28004d;
  font-size: 16px;
  font-weight: lighter;
}

.helpImg {
  height: 622.5px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.start {
  background: white;
  height: 250px;
  width: 100%;
  height: 370px;
  width: 100%;
  text-align: center;
  padding-top: 130px;
}

.start h2 {
  color: #404040;
  font-size: 25px;
  font-weight: bold;
}

.start h2 span {
  color: #1fad96;
  font-size: 25px;
  font-weight: lighter;
}

.start h1 {
  color: #404040;
  font-size: 35px;
  font-weight: bold;
}

.start button {
  height: 50px;
  width: 270px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #1fad96;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}

.start button:hover {
  color: #1fad96;
  background: white;
  border: solid #1fad96 1px;
}

.start button:focus{
  color: white;
  background: #28004d;
}

footer {
  background: #f3f6f3;
  height: 500px;
  height: 400px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
}

.footerMain {
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.adress {
  height: 100%;
  width: 50%;
}

.socials i {
  font-size: 30px;
  height: 40px;
  width: 40px;
  color: #9b999b;
  padding-top: 20px;
  padding-right: 60px;
}

.socials i:hover {
  color: #616865;
  cursor: pointer;
}

.explore {
  height: 100%;
  width: 25%;
}

.terms {
  height: 100%;
  width: 25%;
}

.footerMain h3 {
  color: #404040;
  font-size: 18px;
  padding-bottom: 10px;
}

.footerMain li {
  color: #9b999b;
  font-size: 15px;
  font-weight: lighter;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
}

.footerMain li:hover {
  color: #616865;
  cursor: pointer;
}

.footerBottom p {
  text-align: center;
  color: #cccccc;
  padding: 10px;
  font-size: 15px;
  font-weight: lighter;
}

.footerBottom i {
  color: #cccccc;
  font-size: 13px;
}
